In [61]:
import pandas as pd
import numpy as np

In [63]:
# Load datasets for each city
df_city1 = pd.read_csv(r"C:\Users\SHetaya2021\Desktop\techno_collabs\data\delivery_cq.csv")
df_city2 = pd.read_csv(r"C:\Users\SHetaya2021\Desktop\techno_collabs\data\delivery_delivery_jl.csv")
df_city3 = pd.read_csv(r"C:\Users\SHetaya2021\Desktop\techno_collabs\data\delivery_hz.csv")
df_city4 = pd.read_csv(r"C:\Users\SHetaya2021\Desktop\techno_collabs\data\delivery_sh.csv")
df_city5 = pd.read_csv(r"C:\Users\SHetaya2021\Desktop\techno_collabs\data\delivery_yt.csv")

In [65]:
df_city1['city'] = 'City1'
df_city2['city'] = 'City2'
df_city3['city'] = 'City3'
df_city4['city'] = 'City4'
df_city5['city'] = 'City5'

In [67]:
df_city1

,order_id,region_id,city,courier_id,lng,lat,aoi_id,aoi_type,accept_time,accept_gps_time,accept_gps_lng,accept_gps_lat,delivery_time,delivery_gps_time,delivery_gps_lng,delivery_gps_lat,ds
0,2031782,10,City1,73,108.71571,30.90228,50,14,10-22 10:26:00,10-22 10:26:00,108.71826,30.95587,10-22 17:04:00,10-22 17:04:00,108.66361,30.96702,1022
1,4285071,10,City1,3605,108.71639,30.90269,50,14,09-07 10:13:00,09-07 10:13:00,108.71791,30.95635,09-09 15:44:00,09-09 15:44:00,108.71644,30.90266,907
2,4056800,10,City1,3605,108.71645,30.90259,50,14,06-26 09:49:00,06-26 09:49:00,108.71798,30.95635,06-27 16:03:00,06-27 16:03:00,108.71647,30.90251,626
3,3589481,10,City1,3605,108.71650,30.90347,50,14,09-11 11:01:00,09-11 11:01:00,108.71823,30.95596,09-13 17:14:00,09-13 17:14:00,108.71650,30.90341,911
4,2752329,10,City1,3605,108.71608,30.90409,50,14,10-01 09:52:00,10-01 09:52:00,108.71820,30.95598,10-01 18:30:00,10-01 18:30:00,108.71413,30.90397,1001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
931346,408723,166,City1,4855,106.48823,29.49533,60054,1,10-27 08:36:00,10-27 08:36:00,106.52756,29.49760,10-27 12:30:00,10-27 12:30:00,106.50547,29.49880,1027
931347,3133674,166,City1,4855,106.48839,29.49522,60054,1,10-25 09:24:00,10-25 09:24:00,106.52752,29.49765,10-25 12:53:00,10-25 12:53:00,106.48840,29.49507,1025
931348,4469852,166,City1,4855,106.48822,29.49530,60054,1,10-24 14:11:00,10-24 14:11:00,106.52755,29.49764,10-24 16:39:00,10-24 16:39:00,106.48843,29.49484,1024
931349,2140790,166,City1,4855,106.48822,29.49537,60054,1,10-29 15:24:00,10-29 15:24:00,106.52746,29.49751,10-29 18:08:00,10-29 18:08:00,106.48854,29.49509,1029
931350,3719314,166,City1,4855,106.48826,29.49537,60054,1,10-29 08:45:00,10-29 08:45:00,106.52743,29.49769,10-29 12:51:00,10-29 12:51:00,106.48862,29.49529,1029

In [69]:
merged_df = pd.concat([df_city1, df_city2, df_city3, df_city4, df_city5], ignore_index=True)

In [71]:
merged_df

,order_id,region_id,city,courier_id,lng,lat,aoi_id,aoi_type,accept_time,accept_gps_time,accept_gps_lng,accept_gps_lat,delivery_time,delivery_gps_time,delivery_gps_lng,delivery_gps_lat,ds
0,2031782,10,City1,73,108.71571,30.90228,50,14,10-22 10:26:00,10-22 10:26:00,108.71826,30.95587,10-22 17:04:00,10-22 17:04:00,108.66361,30.96702,1022
1,4285071,10,City1,3605,108.71639,30.90269,50,14,09-07 10:13:00,09-07 10:13:00,108.71791,30.95635,09-09 15:44:00,09-09 15:44:00,108.71644,30.90266,907
2,4056800,10,City1,3605,108.71645,30.90259,50,14,06-26 09:49:00,06-26 09:49:00,108.71798,30.95635,06-27 16:03:00,06-27 16:03:00,108.71647,30.90251,626
3,3589481,10,City1,3605,108.71650,30.90347,50,14,09-11 11:01:00,09-11 11:01:00,108.71823,30.95596,09-13 17:14:00,09-13 17:14:00,108.71650,30.90341,911
4,2752329,10,City1,3605,108.71608,30.90409,50,14,10-01 09:52:00,10-01 09:52:00,108.71820,30.95598,10-01 18:30:00,10-01 18:30:00,108.71413,30.90397,1001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4514656,2512759,167,City5,1571,121.19537,36.78027,60137,1,07-03 15:14:00,07-03 15:14:00,121.20571,36.76358,07-03 17:33:00,07-03 17:33:00,121.19512,36.78016,703
4514657,3779171,167,City5,1571,121.19646,36.78103,60137,1,05-24 10:06:00,05-24 10:06:00,121.20567,36.76358,05-24 15:12:00,05-24 15:12:00,121.19635,36.78090,524
4514658,4198558,167,City5,3402,121.19515,36.78057,60137,1,05-01 15:13:00,05-01 15:13:00,121.20555,36.76358,05-01 16:06:00,05-01 16:06:00,121.19567,36.78372,501
4514659,1805034,167,City5,3402,121.19631,36.78100,60137,1,05-05 09:22:00,05-05 09:22:00,121.20561,36.76357,05-05 17:24:00,05-05 17:24:00,121.19639,36.78082,505
4514660,2801941,167,City5,4314,121.19632,36.78072,60137,1,08-08 09:54:00,08-08 09:54:00,121.20551,36.76350,08-08 14:59:00,08-08 14:59:00,121.20007,36.77130,808

In [73]:
print(merged_df.info())
print(merged_df['city'].value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4514661 entries, 0 to 4514660
Data columns (total 17 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   region_id          int64
 2   city               object
 3   courier_id         int64
 4   lng                float64
 5   lat                float64
 6   aoi_id             int64
 7   aoi_type           int64
 8   accept_time        object
 9   accept_gps_time    object
 10  accept_gps_lng     float64
 11  accept_gps_lat     float64
 12  delivery_time      object
 13  delivery_gps_time  object
 14  delivery_gps_lng   float64
 15  delivery_gps_lat   float64
 16  ds                 int64
dtypes: float64(6), int64(6), object(5)
memory usage: 585.6+ MB
None
city
City3    1861600
City4    1483864
City1     931351
City5     206431
City2      31415
Name: count, dtype: int64

In [75]:
merged_df.to_csv('merged_city_data.csv', index=False)

In [77]:
merged_df = merged_df.drop_duplicates()

In [81]:
merged_df.duplicated().sum()

0

In [85]:
merged_df = merged_df.drop_duplicates(subset='order_id', keep='first')

In [89]:
merged_df.isna().any()

order_id             False
region_id            False
city                 False
courier_id           False
lng                  False
lat                  False
aoi_id               False
aoi_type             False
accept_time          False
accept_gps_time      False
accept_gps_lng        True
accept_gps_lat        True
delivery_time        False
delivery_gps_time    False
delivery_gps_lng     False
delivery_gps_lat     False
ds                   False
dtype: bool

In [93]:
merged_df['accept_gps_lng']=merged_df['accept_gps_lng'].fillna(merged_df['accept_gps_lng'].mean())
merged_df['accept_gps_lat']=merged_df['accept_gps_lat'].fillna(merged_df['accept_gps_lat'].mean())

In [95]:
merged_df.isna().any()

order_id             False
region_id            False
city                 False
courier_id           False
lng                  False
lat                  False
aoi_id               False
aoi_type             False
accept_time          False
accept_gps_time      False
accept_gps_lng       False
accept_gps_lat       False
delivery_time        False
delivery_gps_time    False
delivery_gps_lng     False
delivery_gps_lat     False
ds                   False
dtype: bool

In [97]:
# Converting accept_time and delivery_time to datetime
merged_df['accept_time'] = pd.to_datetime(merged_df['accept_time'], format='%m-%d %H:%M:%S', errors='coerce')
merged_df['delivery_time'] = pd.to_datetime(merged_df['delivery_time'], format='%m-%d %H:%M:%S', errors='coerce')
merged_df['accept_gps_time'] = pd.to_datetime(merged_df['accept_gps_time'], format='%m-%d %H:%M:%S', errors='coerce')
merged_df['delivery_gps_time'] = pd.to_datetime(merged_df['delivery_gps_time'], format='%m-%d %H:%M:%S', errors='coerce')

In [99]:
merged_df

,order_id,region_id,city,courier_id,lng,lat,aoi_id,aoi_type,accept_time,accept_gps_time,accept_gps_lng,accept_gps_lat,delivery_time,delivery_gps_time,delivery_gps_lng,delivery_gps_lat,ds
0,2031782,10,City1,73,108.71571,30.90228,50,14,1900-10-22 10:26:00,1900-10-22 10:26:00,108.71826,30.95587,1900-10-22 17:04:00,1900-10-22 17:04:00,108.66361,30.96702,1022
1,4285071,10,City1,3605,108.71639,30.90269,50,14,1900-09-07 10:13:00,1900-09-07 10:13:00,108.71791,30.95635,1900-09-09 15:44:00,1900-09-09 15:44:00,108.71644,30.90266,907
2,4056800,10,City1,3605,108.71645,30.90259,50,14,1900-06-26 09:49:00,1900-06-26 09:49:00,108.71798,30.95635,1900-06-27 16:03:00,1900-06-27 16:03:00,108.71647,30.90251,626
3,3589481,10,City1,3605,108.71650,30.90347,50,14,1900-09-11 11:01:00,1900-09-11 11:01:00,108.71823,30.95596,1900-09-13 17:14:00,1900-09-13 17:14:00,108.71650,30.90341,911
4,2752329,10,City1,3605,108.71608,30.90409,50,14,1900-10-01 09:52:00,1900-10-01 09:52:00,108.71820,30.95598,1900-10-01 18:30:00,1900-10-01 18:30:00,108.71413,30.90397,1001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4514656,2512759,167,City5,1571,121.19537,36.78027,60137,1,1900-07-03 15:14:00,1900-07-03 15:14:00,121.20571,36.76358,1900-07-03 17:33:00,1900-07-03 17:33:00,121.19512,36.78016,703
4514657,3779171,167,City5,1571,121.19646,36.78103,60137,1,1900-05-24 10:06:00,1900-05-24 10:06:00,121.20567,36.76358,1900-05-24 15:12:00,1900-05-24 15:12:00,121.19635,36.78090,524
4514658,4198558,167,City5,3402,121.19515,36.78057,60137,1,1900-05-01 15:13:00,1900-05-01 15:13:00,121.20555,36.76358,1900-05-01 16:06:00,1900-05-01 16:06:00,121.19567,36.78372,501
4514659,1805034,167,City5,3402,121.19631,36.78100,60137,1,1900-05-05 09:22:00,1900-05-05 09:22:00,121.20561,36.76357,1900-05-05 17:24:00,1900-05-05 17:24:00,121.19639,36.78082,505
4514660,2801941,167,City5,4314,121.19632,36.78072,60137,1,1900-08-08 09:54:00,1900-08-08 09:54:00,121.20551,36.76350,1900-08-08 14:59:00,1900-08-08 14:59:00,121.20007,36.77130,808

In [101]:
# Ensuring lng and lat are float
merged_df['lng'] = merged_df['lng'].astype(float)
merged_df['lat'] = merged_df['lat'].astype(float)

# Converting aoi_type to categorical
merged_df['aoi_type'] = merged_df['aoi_type'].astype('category')

# Verifying changes
merged_df.dtypes

order_id                      int64
region_id                     int64
city                         object
courier_id                    int64
lng                         float64
lat                         float64
aoi_id                        int64
aoi_type                   category
accept_time          datetime64[ns]
accept_gps_time      datetime64[ns]
accept_gps_lng              float64
accept_gps_lat              float64
delivery_time        datetime64[ns]
delivery_gps_time    datetime64[ns]
delivery_gps_lng            float64
delivery_gps_lat            float64
ds                            int64
dtype: object

In [103]:
# Calculating delivery duration in minutes
merged_df['delivery_duration'] = (merged_df['delivery_time'] - merged_df['accept_time']).dt.total_seconds() / 60

# Removing rows with missing or invalid durations
merged_df = merged_df.dropna(subset=['delivery_duration'])

# Calculating IQR for delivery duration
Q1 = merged_df['delivery_duration'].quantile(0.25)
Q3 = merged_df['delivery_duration'].quantile(0.75)
IQR = Q3 - Q1

# Identifying lower and upper bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Filtering out outliers
filtered_data = merged_df[(merged_df['delivery_duration'] >= lower_bound) & (merged_df['delivery_duration'] <= upper_bound)]

# Verifying the results
filtered_data.shape, merged_df.shape, lower_bound, upper_bound

((4193458, 18), (4514661, 18), -149.5, 398.5)

In [105]:
filtered_data

,order_id,region_id,city,courier_id,lng,lat,aoi_id,aoi_type,accept_time,accept_gps_time,accept_gps_lng,accept_gps_lat,delivery_time,delivery_gps_time,delivery_gps_lng,delivery_gps_lat,ds,delivery_duration
0,2031782,10,City1,73,108.71571,30.90228,50,14,1900-10-22 10:26:00,1900-10-22 10:26:00,108.71826,30.95587,1900-10-22 17:04:00,1900-10-22 17:04:00,108.66361,30.96702,1022,398.0
6,4481765,10,City1,3605,108.71605,30.90410,50,14,1900-09-30 10:00:00,1900-09-30 10:00:00,108.71824,30.95583,1900-09-30 16:38:00,1900-09-30 16:38:00,108.71429,30.90416,930,398.0
20,3098203,10,City1,1635,108.71797,30.94364,296,14,1900-07-10 08:33:00,1900-07-10 08:33:00,108.71801,30.95637,1900-07-10 13:24:00,1900-07-10 13:24:00,108.71809,30.94260,710,291.0
21,356619,10,City1,1635,108.71979,30.94130,296,14,1900-09-09 09:04:00,1900-09-09 09:04:00,108.71803,30.95629,1900-09-09 10:49:00,1900-09-09 10:49:00,108.71970,30.94235,909,105.0
22,1484207,10,City1,1635,108.72106,30.94164,296,14,1900-10-19 08:29:00,1900-10-19 08:29:00,108.71820,30.95598,1900-10-19 10:11:00,1900-10-19 10:11:00,108.72307,30.94201,1019,102.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4514655,3127175,167,City5,1571,121.19641,36.78106,60137,1,1900-05-12 09:10:00,1900-05-12 09:10:00,121.20557,36.76352,1900-05-12 13:03:00,1900-05-12 13:03:00,121.17895,36.78380,512,233.0
4514656,2512759,167,City5,1571,121.19537,36.78027,60137,1,1900-07-03 15:14:00,1900-07-03 15:14:00,121.20571,36.76358,1900-07-03 17:33:00,1900-07-03 17:33:00,121.19512,36.78016,703,139.0
4514657,3779171,167,City5,1571,121.19646,36.78103,60137,1,1900-05-24 10:06:00,1900-05-24 10:06:00,121.20567,36.76358,1900-05-24 15:12:00,1900-05-24 15:12:00,121.19635,36.78090,524,306.0
4514658,4198558,167,City5,3402,121.19515,36.78057,60137,1,1900-05-01 15:13:00,1900-05-01 15:13:00,121.20555,36.76358,1900-05-01 16:06:00,1900-05-01 16:06:00,121.19567,36.78372,501,53.0
4514660,2801941,167,City5,4314,121.19632,36.78072,60137,1,1900-08-08 09:54:00,1900-08-08 09:54:00,121.20551,36.76350,1900-08-08 14:59:00,1900-08-08 14:59:00,121.20007,36.77130,808,305.0

In [107]:
# Function to validate latitude and longitude ranges
def validate_coordinates(df, lat_column, lng_column):
    invalid_lat = df[(df[lat_column] < -90) | (df[lat_column] > 90)]
    invalid_lng = df[(df[lng_column] < -180) | (df[lng_column] > 180)]
    return invalid_lat, invalid_lng

# Validate the columns
invalid_primary_lat, invalid_primary_lng = validate_coordinates(merged_df, 'lat', 'lng')
invalid_accept_lat, invalid_accept_lng = validate_coordinates(merged_df, 'accept_gps_lat', 'accept_gps_lng')
invalid_delivery_lat, invalid_delivery_lng = validate_coordinates(merged_df, 'delivery_gps_lat', 'delivery_gps_lng')

# Combine results to identify issues across all columns
invalid_entries = pd.concat([
    invalid_primary_lat, invalid_primary_lng,
    invalid_accept_lat, invalid_accept_lng,
    invalid_delivery_lat, invalid_delivery_lng
]).drop_duplicates()

invalid_entries.shape, invalid_entries

((0, 18),
 Empty DataFrame
 Columns: [order_id, region_id, city, courier_id, lng, lat, aoi_id, aoi_type, accept_time, accept_gps_time, accept_gps_lng, accept_gps_lat, delivery_time, delivery_gps_time, delivery_gps_lng, delivery_gps_lat, ds, delivery_duration]
 Index: [])

In [115]:
filtered_data.dtypes

order_id                      int64
region_id                     int64
city                       category
courier_id                    int64
lng                         float64
lat                         float64
aoi_id                        int64
aoi_type                   category
accept_time          datetime64[ns]
accept_gps_time      datetime64[ns]
accept_gps_lng              float64
accept_gps_lat              float64
delivery_time        datetime64[ns]
delivery_gps_time    datetime64[ns]
delivery_gps_lng            float64
delivery_gps_lat            float64
ds                            int64
delivery_duration           float64
dtype: object

In [127]:

filtered_data

,order_id,region_id,city,courier_id,lng,lat,aoi_id,accept_time,accept_gps_time,accept_gps_lng,...,aoi_type_6,aoi_type_7,aoi_type_8,aoi_type_9,aoi_type_10,aoi_type_11,aoi_type_12,aoi_type_13,aoi_type_14,aoi_type_15
0,2031782,10,City1,73,108.71571,30.90228,50,1900-10-22 10:26:00,1900-10-22 10:26:00,108.71826,...,False,False,False,False,False,False,False,False,True,False
6,4481765,10,City1,3605,108.71605,30.90410,50,1900-09-30 10:00:00,1900-09-30 10:00:00,108.71824,...,False,False,False,False,False,False,False,False,True,False
20,3098203,10,City1,1635,108.71797,30.94364,296,1900-07-10 08:33:00,1900-07-10 08:33:00,108.71801,...,False,False,False,False,False,False,False,False,True,False
21,356619,10,City1,1635,108.71979,30.94130,296,1900-09-09 09:04:00,1900-09-09 09:04:00,108.71803,...,False,False,False,False,False,False,False,False,True,False
22,1484207,10,City1,1635,108.72106,30.94164,296,1900-10-19 08:29:00,1900-10-19 08:29:00,108.71820,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4514655,3127175,167,City5,1571,121.19641,36.78106,60137,1900-05-12 09:10:00,1900-05-12 09:10:00,121.20557,...,False,False,False,False,False,False,False,False,False,False
4514656,2512759,167,City5,1571,121.19537,36.78027,60137,1900-07-03 15:14:00,1900-07-03 15:14:00,121.20571,...,False,False,False,False,False,False,False,False,False,False
4514657,3779171,167,City5,1571,121.19646,36.78103,60137,1900-05-24 10:06:00,1900-05-24 10:06:00,121.20567,...,False,False,False,False,False,False,False,False,False,False
4514658,4198558,167,City5,3402,121.19515,36.78057,60137,1900-05-01 15:13:00,1900-05-01 15:13:00,121.20555,...,False,False,False,False,False,False,False,False,False,False
4514660,2801941,167,City5,4314,121.19632,36.78072,60137,1900-08-08 09:54:00,1900-08-08 09:54:00,121.20551,...,False,False,False,False,False,False,False,False,False,False

In [149]:
filtered_data = pd.get_dummies(filtered_data, columns=['city'])

KeyError: "None of [Index(['city'], dtype='object')] are in the [columns]"

In [151]:
filtered_data

,order_id,region_id,courier_id,lng,lat,aoi_id,accept_time,accept_gps_time,accept_gps_lng,accept_gps_lat,...,aoi_type_11,aoi_type_12,aoi_type_13,aoi_type_14,aoi_type_15,city_City1,city_City2,city_City3,city_City4,city_City5
0,2031782,10,73,108.71571,30.90228,50,1900-10-22 10:26:00,1900-10-22 10:26:00,108.71826,30.95587,...,False,False,False,True,False,True,False,False,False,False
6,4481765,10,3605,108.71605,30.90410,50,1900-09-30 10:00:00,1900-09-30 10:00:00,108.71824,30.95583,...,False,False,False,True,False,True,False,False,False,False
20,3098203,10,1635,108.71797,30.94364,296,1900-07-10 08:33:00,1900-07-10 08:33:00,108.71801,30.95637,...,False,False,False,True,False,True,False,False,False,False
21,356619,10,1635,108.71979,30.94130,296,1900-09-09 09:04:00,1900-09-09 09:04:00,108.71803,30.95629,...,False,False,False,True,False,True,False,False,False,False
22,1484207,10,1635,108.72106,30.94164,296,1900-10-19 08:29:00,1900-10-19 08:29:00,108.71820,30.95598,...,False,False,False,True,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4514655,3127175,167,1571,121.19641,36.78106,60137,1900-05-12 09:10:00,1900-05-12 09:10:00,121.20557,36.76352,...,False,False,False,False,False,False,False,False,False,True
4514656,2512759,167,1571,121.19537,36.78027,60137,1900-07-03 15:14:00,1900-07-03 15:14:00,121.20571,36.76358,...,False,False,False,False,False,False,False,False,False,True
4514657,3779171,167,1571,121.19646,36.78103,60137,1900-05-24 10:06:00,1900-05-24 10:06:00,121.20567,36.76358,...,False,False,False,False,False,False,False,False,False,True
4514658,4198558,167,3402,121.19515,36.78057,60137,1900-05-01 15:13:00,1900-05-01 15:13:00,121.20555,36.76358,...,False,False,False,False,False,False,False,False,False,True
4514660,2801941,167,4314,121.19632,36.78072,60137,1900-08-08 09:54:00,1900-08-08 09:54:00,121.20551,36.76350,...,False,False,False,False,False,False,False,False,False,True

In [153]:
filtered_data['delivery_duration'] = (filtered_data['delivery_duration'] - filtered_data['delivery_duration'].min()) / (filtered_data['delivery_duration'].max() - filtered_data['delivery_duration'].min())

In [155]:
filtered_data

,order_id,region_id,courier_id,lng,lat,aoi_id,accept_time,accept_gps_time,accept_gps_lng,accept_gps_lat,...,aoi_type_11,aoi_type_12,aoi_type_13,aoi_type_14,aoi_type_15,city_City1,city_City2,city_City3,city_City4,city_City5
0,2031782,10,73,108.71571,30.90228,50,1900-10-22 10:26:00,1900-10-22 10:26:00,108.71826,30.95587,...,False,False,False,True,False,True,False,False,False,False
6,4481765,10,3605,108.71605,30.90410,50,1900-09-30 10:00:00,1900-09-30 10:00:00,108.71824,30.95583,...,False,False,False,True,False,True,False,False,False,False
20,3098203,10,1635,108.71797,30.94364,296,1900-07-10 08:33:00,1900-07-10 08:33:00,108.71801,30.95637,...,False,False,False,True,False,True,False,False,False,False
21,356619,10,1635,108.71979,30.94130,296,1900-09-09 09:04:00,1900-09-09 09:04:00,108.71803,30.95629,...,False,False,False,True,False,True,False,False,False,False
22,1484207,10,1635,108.72106,30.94164,296,1900-10-19 08:29:00,1900-10-19 08:29:00,108.71820,30.95598,...,False,False,False,True,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4514655,3127175,167,1571,121.19641,36.78106,60137,1900-05-12 09:10:00,1900-05-12 09:10:00,121.20557,36.76352,...,False,False,False,False,False,False,False,False,False,True
4514656,2512759,167,1571,121.19537,36.78027,60137,1900-07-03 15:14:00,1900-07-03 15:14:00,121.20571,36.76358,...,False,False,False,False,False,False,False,False,False,True
4514657,3779171,167,1571,121.19646,36.78103,60137,1900-05-24 10:06:00,1900-05-24 10:06:00,121.20567,36.76358,...,False,False,False,False,False,False,False,False,False,True
4514658,4198558,167,3402,121.19515,36.78057,60137,1900-05-01 15:13:00,1900-05-01 15:13:00,121.20555,36.76358,...,False,False,False,False,False,False,False,False,False,True
4514660,2801941,167,4314,121.19632,36.78072,60137,1900-08-08 09:54:00,1900-08-08 09:54:00,121.20551,36.76350,...,False,False,False,False,False,False,False,False,False,True

In [157]:
filtered_data.to_csv('cleaned_delivery_data.csv', index=False)