In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
df_city1=pd.read_csv(r"C:\Users\SHetaya2021\Desktop\techno_collabs\data\pickup_cq.csv")
df_city2=pd.read_csv(r"C:\Users\SHetaya2021\Desktop\techno_collabs\data\pickup_jl.csv")
df_city3=pd.read_csv(r"C:\Users\SHetaya2021\Desktop\techno_collabs\data\pickup_hz.csv")
df_city4=pd.read_csv(r"C:\Users\SHetaya2021\Desktop\techno_collabs\data\pickup_sh.csv")
df_city5=pd.read_csv(r"C:\Users\SHetaya2021\Desktop\techno_collabs\data\pickup_yt.csv")

In [3]:
df_city1['city']='city1'
df_city2['city']='city2'
df_city3['city']='city3'
df_city4['city']='city4'
df_city5['city']='city5'

In [4]:
df_city5

,order_id,region_id,city,courier_id,accept_time,time_window_start,time_window_end,lng,lat,aoi_id,aoi_type,pickup_time,pickup_gps_time,pickup_gps_lng,pickup_gps_lat,accept_gps_time,accept_gps_lng,accept_gps_lat,ds
0,4732519,16,city5,992,05-18 08:16:00,05-18 09:00:00,05-18 11:00:00,121.21661,36.77277,32,1,05-18 08:42:00,05-18 08:42:00,121.22029,36.77386,05-18 08:10:00,121.21800,36.77443,518
1,5411237,16,city5,992,05-14 09:17:00,05-14 13:00:00,05-14 15:00:00,121.21923,36.77317,32,1,05-14 12:40:00,05-14 12:40:00,121.22033,36.77403,05-14 09:16:00,121.21094,36.78368,514
2,143142,16,city5,992,05-10 15:30:00,05-10 15:30:00,05-10 17:30:00,121.22025,36.77384,32,1,05-10 15:54:00,05-10 15:54:00,121.22032,36.77409,05-10 15:29:00,121.22023,36.77399,510
3,3421498,16,city5,992,05-05 12:47:00,05-05 12:47:00,05-05 14:47:00,121.21676,36.77269,32,1,05-05 13:50:00,05-05 13:50:00,121.22058,36.77391,NaN,NaN,NaN,505
4,362894,16,city5,992,05-11 08:02:00,05-11 09:00:00,05-11 11:00:00,121.22031,36.77385,32,1,05-11 09:04:00,05-11 09:03:00,121.22030,36.77395,05-11 07:58:00,121.21808,36.77453,511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1146776,5728371,134,city5,15432,07-15 12:33:00,07-15 17:00:00,07-15 19:00:00,121.35625,37.56492,24460,14,07-15 17:15:00,07-15 17:08:00,121.35697,37.56436,NaN,NaN,NaN,715
1146777,5449890,134,city5,15432,08-28 08:03:00,08-28 09:00:00,08-28 11:00:00,121.35583,37.56493,24460,14,08-28 08:43:00,08-28 08:43:00,121.36560,37.55906,08-28 08:03:00,121.36573,37.55896,828
1146778,5212482,134,city5,15432,07-29 10:56:00,07-29 13:00:00,07-29 15:00:00,121.35577,37.56443,24460,14,07-29 11:40:00,07-29 11:40:00,121.35588,37.56419,07-29 10:54:00,121.35732,37.56325,729
1146779,1347523,134,city5,15432,07-30 08:17:00,07-30 09:00:00,07-30 11:00:00,121.35579,37.56456,24460,14,07-30 09:18:00,NaN,NaN,NaN,07-30 08:09:00,121.36598,37.55852,730
1146780,5983259,134,city5,15432,08-08 10:28:00,08-08 10:28:00,08-08 12:28:00,121.35604,37.56489,24460,14,08-08 11:02:00,08-08 11:02:00,121.35596,37.56495,08-08 10:28:00,121.36677,37.56350,808

In [5]:
merged_df = pd.concat([df_city1, df_city2, df_city3, df_city4, df_city5], ignore_index=True)

In [6]:
merged_df

,order_id,region_id,city,courier_id,accept_time,time_window_start,time_window_end,lng,lat,aoi_id,aoi_type,pickup_time,pickup_gps_time,pickup_gps_lng,pickup_gps_lat,accept_gps_time,accept_gps_lng,accept_gps_lat,ds
0,483671,3,city1,1518,08-14 07:57:00,08-14 09:00:00,08-14 11:00:00,106.46877,29.47204,218,14,08-14 09:38:00,NaN,NaN,NaN,NaN,NaN,NaN,814
1,1746131,3,city1,4706,10-09 07:46:00,10-09 09:00:00,10-09 11:00:00,106.46872,29.47200,218,14,10-09 09:42:00,NaN,NaN,NaN,NaN,NaN,NaN,1009
2,2301722,3,city1,4706,10-09 13:57:00,10-09 13:57:00,10-09 15:57:00,106.46869,29.47191,218,14,10-09 15:53:00,10-09 15:53:00,106.46821,29.46771,10-09 13:56:00,106.46929,29.47231,1009
3,3788723,3,city1,4706,05-19 08:13:00,05-19 11:00:00,05-19 13:00:00,106.46878,29.47208,218,14,05-19 11:59:00,NaN,NaN,NaN,NaN,NaN,NaN,519
4,713435,3,city1,4706,05-22 08:16:00,05-22 09:00:00,05-22 11:00:00,106.46813,29.47228,218,14,05-22 10:40:00,05-22 10:40:00,106.46827,29.47270,NaN,NaN,NaN,522
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6136142,5728371,134,city5,15432,07-15 12:33:00,07-15 17:00:00,07-15 19:00:00,121.35625,37.56492,24460,14,07-15 17:15:00,07-15 17:08:00,121.35697,37.56436,NaN,NaN,NaN,715
6136143,5449890,134,city5,15432,08-28 08:03:00,08-28 09:00:00,08-28 11:00:00,121.35583,37.56493,24460,14,08-28 08:43:00,08-28 08:43:00,121.36560,37.55906,08-28 08:03:00,121.36573,37.55896,828
6136144,5212482,134,city5,15432,07-29 10:56:00,07-29 13:00:00,07-29 15:00:00,121.35577,37.56443,24460,14,07-29 11:40:00,07-29 11:40:00,121.35588,37.56419,07-29 10:54:00,121.35732,37.56325,729
6136145,1347523,134,city5,15432,07-30 08:17:00,07-30 09:00:00,07-30 11:00:00,121.35579,37.56456,24460,14,07-30 09:18:00,NaN,NaN,NaN,07-30 08:09:00,121.36598,37.55852,730
6136146,5983259,134,city5,15432,08-08 10:28:00,08-08 10:28:00,08-08 12:28:00,121.35604,37.56489,24460,14,08-08 11:02:00,08-08 11:02:00,121.35596,37.56495,08-08 10:28:00,121.36677,37.56350,808

In [7]:
print(merged_df.info())
print(merged_df['city'].value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6136147 entries, 0 to 6136146
Data columns (total 19 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   region_id          int64
 2   city               object
 3   courier_id         int64
 4   accept_time        object
 5   time_window_start  object
 6   time_window_end    object
 7   lng                float64
 8   lat                float64
 9   aoi_id             int64
 10  aoi_type           int64
 11  pickup_time        object
 12  pickup_gps_time    object
 13  pickup_gps_lng     float64
 14  pickup_gps_lat     float64
 15  accept_gps_time    object
 16  accept_gps_lng     float64
 17  accept_gps_lat     float64
 18  ds                 int64
dtypes: float64(6), int64(6), object(7)
memory usage: 889.5+ MB
None
city
city3    2130456
city4    1424406
city1    1172703
city5    1146781
city2     261801
Name: count, dtype: int64

In [8]:
merged_df.to_csv('merged_city_pick_data.csv', index=False)

In [9]:
merged_df=merged_df.drop_duplicates()

In [26]:
merged_df.duplicated().sum()

0

In [11]:
merged_df = merged_df.drop_duplicates(subset='order_id', keep='first')

In [12]:
merged_df.isna().any()

order_id             False
region_id            False
city                 False
courier_id           False
accept_time          False
time_window_start    False
time_window_end      False
lng                  False
lat                  False
aoi_id               False
aoi_type             False
pickup_time          False
pickup_gps_time       True
pickup_gps_lng        True
pickup_gps_lat        True
accept_gps_time       True
accept_gps_lng        True
accept_gps_lat        True
ds                   False
dtype: bool

In [28]:
# Fill missing values for categorical columns
merged_df['aoi_type'] = merged_df['aoi_type'].fillna('Unknown')
merged_df['city'] = merged_df['city'].fillna('Unknown City')

In [30]:
merged_df = pd.DataFrame(merged_df)

# Define the time columns
time_columns = ['accept_time', 'pickup_time', 'accept_gps_time', 'pickup_gps_time', 'time_window_start', 'time_window_end']

# Function to handle conversion of time columns
def convert_time_columns(merged_df, time_columns):
    for col in time_columns:
        print(f"\nProcessing column: {col}")
        
        # Check unique values before conversion
        unique_before = merged_df[col].unique()[:10]
        print(f"Unique values in {col} before conversion: {unique_before}")

        # Convert to datetime with custom format (MM-DD HH:MM:SS) and handle errors
        merged_df[col] = pd.to_datetime(merged_df[col], errors='coerce', format='%m-%d %H:%M:%S')
        
        # Handle any invalid dates that become NaT
        unique_after = merged_df[col].unique()[:10]
        print(f"Unique values in {col} after conversion: {unique_after}")
        print(f"Sample data after conversion for {col}:\n{merged_df[col].head(10)}")

    return df

# Apply the function to convert time columns
merged_df = convert_time_columns(merged_df, time_columns)

# Check if any invalid dates remain (NaT)
print("\nCount of invalid dates (NaT) for each column:")
invalid_counts = merged_df[time_columns].isnull().sum()
print(invalid_counts)

# Investigate columns with NaT entries
for col in time_columns:
    if invalid_counts[col] > 0:
        print(f"\nInvestigating column: {col} with {invalid_counts[col]} NaT values")
        print(merged_df[merged_df[col].isnull()][['order_id', col]])

# Final preview of the data after conversion
print("\nFinal data preview:")
print(merged_df[time_columns].head(10))

Processing column: accept_time
Unique values in accept_time before conversion: ['08-14 07:57:00' '10-09 07:46:00' '10-09 13:57:00' '05-19 08:13:00'
 '05-22 08:16:00' '05-19 07:43:00' '10-09 10:36:00' '05-17 09:17:00'
 '05-19 07:39:00' '05-21 13:18:00']
Unique values in accept_time after conversion: <DatetimeArray>
['1900-08-14 07:57:00', '1900-10-09 07:46:00', '1900-10-09 13:57:00',
 '1900-05-19 08:13:00', '1900-05-22 08:16:00', '1900-05-19 07:43:00',
 '1900-10-09 10:36:00', '1900-05-17 09:17:00', '1900-05-19 07:39:00',
 '1900-05-21 13:18:00']
Length: 10, dtype: datetime64[ns]
Sample data after conversion for accept_time:
0   1900-08-14 07:57:00
1   1900-10-09 07:46:00
2   1900-10-09 13:57:00
3   1900-05-19 08:13:00
4   1900-05-22 08:16:00
5   1900-05-19 07:43:00
6   1900-10-09 10:36:00
7   1900-05-17 09:17:00
8   1900-05-19 07:39:00
9   1900-05-21 13:18:00
Name: accept_time, dtype: datetime64[ns]

Processing column: pickup_time
Unique values in pickup_time before conversion: ['08-14 09:38:00' '10-09 09:42:00' '10-09 15:53:00' '05-19 11:59:00'
 '05-22 10:40:00' '05-19 09:56:00' '10-09 18:44:00' '05-17 11:36:00'
 '05-19 09:48:00' '05-22 11:26:00']
Unique values in pickup_time after conversion: <DatetimeArray>
['1900-08-14 09:38:00', '1900-10-09 09:42:00', '1900-10-09 15:53:00',
 '1900-05-19 11:59:00', '1900-05-22 10:40:00', '1900-05-19 09:56:00',
 '1900-10-09 18:44:00', '1900-05-17 11:36:00', '1900-05-19 09:48:00',
 '1900-05-22 11:26:00']
Length: 10, dtype: datetime64[ns]
Sample data after conversion for pickup_time:
0   1900-08-14 09:38:00
1   1900-10-09 09:42:00
2   1900-10-09 15:53:00
3   1900-05-19 11:59:00
4   1900-05-22 10:40:00
5   1900-05-19 09:56:00
6   1900-10-09 18:44:00
7   1900-05-17 11:36:00
8   1900-05-19 09:48:00
9   1900-05-22 11:26:00
Name: pickup_time, dtype: datetime64[ns]

Processing column: accept_gps_time
Unique values in accept_gps_time before conversion: [nan '10-09 13:56:00' '05-22 10:22:00' '05-03 07:49:00' '10-19 12:25:00'
 '06-06 10:49:00' '05-21 09:06:00' '05-28 09:36:00' '06-16 16:52:00'
 '06-11 08:57:00']
Unique values in accept_gps_time after conversion: <DatetimeArray>
[                'NaT', '1900-10-09 13:56:00', '1900-05-22 10:22:00',
 '1900-05-03 07:49:00', '1900-10-19 12:25:00', '1900-06-06 10:49:00',
 '1900-05-21 09:06:00', '1900-05-28 09:36:00', '1900-06-16 16:52:00',
 '1900-06-11 08:57:00']
Length: 10, dtype: datetime64[ns]
Sample data after conversion for accept_gps_time:
0                   NaT
1                   NaT
2   1900-10-09 13:56:00
3                   NaT
4                   NaT
5                   NaT
6                   NaT
7                   NaT
8                   NaT
9                   NaT
Name: accept_gps_time, dtype: datetime64[ns]

Processing column: pickup_gps_time
Unique values in pickup_gps_time before conversion: [nan '10-09 15:53:00' '05-22 10:40:00' '05-19 09:55:00' '10-09 18:44:00'
 '05-17 11:36:00' '05-19 09:48:00' '05-22 11:25:00' '05-06 10:19:00'
 '05-22 11:17:00']
Unique values in pickup_gps_time after conversion: <DatetimeArray>
[                'NaT', '1900-10-09 15:53:00', '1900-05-22 10:40:00',
 '1900-05-19 09:55:00', '1900-10-09 18:44:00', '1900-05-17 11:36:00',
 '1900-05-19 09:48:00', '1900-05-22 11:25:00', '1900-05-06 10:19:00',
 '1900-05-22 11:17:00']
Length: 10, dtype: datetime64[ns]
Sample data after conversion for pickup_gps_time:
0                   NaT
1                   NaT
2   1900-10-09 15:53:00
3                   NaT
4   1900-05-22 10:40:00
5   1900-05-19 09:55:00
6   1900-10-09 18:44:00
7   1900-05-17 11:36:00
8   1900-05-19 09:48:00
9   1900-05-22 11:25:00
Name: pickup_gps_time, dtype: datetime64[ns]

Processing column: time_window_start
Unique values in time_window_start before conversion: ['08-14 09:00:00' '10-09 09:00:00' '10-09 13:57:00' '05-19 11:00:00'
 '05-22 09:00:00' '05-19 09:00:00' '10-09 17:00:00' '05-17 13:00:00'
 '05-22 11:00:00' '05-06 13:00:00']
Unique values in time_window_start after conversion: <DatetimeArray>
['1900-08-14 09:00:00', '1900-10-09 09:00:00', '1900-10-09 13:57:00',
 '1900-05-19 11:00:00', '1900-05-22 09:00:00', '1900-05-19 09:00:00',
 '1900-10-09 17:00:00', '1900-05-17 13:00:00', '1900-05-22 11:00:00',
 '1900-05-06 13:00:00']
Length: 10, dtype: datetime64[ns]
Sample data after conversion for time_window_start:
0   1900-08-14 09:00:00
1   1900-10-09 09:00:00
2   1900-10-09 13:57:00
3   1900-05-19 11:00:00
4   1900-05-22 09:00:00
5   1900-05-19 09:00:00
6   1900-10-09 17:00:00
7   1900-05-17 13:00:00
8   1900-05-19 09:00:00
9   1900-05-22 11:00:00
Name: time_window_start, dtype: datetime64[ns]

Processing column: time_window_end
Unique values in time_window_end before conversion: ['08-14 11:00:00' '10-09 11:00:00' '10-09 15:57:00' '05-19 13:00:00'
 '05-22 11:00:00' '05-19 11:00:00' '10-09 19:00:00' '05-17 15:00:00'
 '05-22 13:00:00' '05-06 15:00:00']
Unique values in time_window_end after conversion: <DatetimeArray>
['1900-08-14 11:00:00', '1900-10-09 11:00:00', '1900-10-09 15:57:00',
 '1900-05-19 13:00:00', '1900-05-22 11:00:00', '1900-05-19 11:00:00',
 '1900-10-09 19:00:00', '1900-05-17 15:00:00', '1900-05-22 13:00:00',
 '1900-05-06 15:00:00']
Length: 10, dtype: datetime64[ns]
Sample data after conversion for time_window_end:
0   1900-08-14 11:00:00
1   1900-10-09 11:00:00
2   1900-10-09 15:57:00
3   1900-05-19 13:00:00
4   1900-05-22 11:00:00
5   1900-05-19 11:00:00
6   1900-10-09 19:00:00
7   1900-05-17 15:00:00
8   1900-05-19 11:00:00
9   1900-05-22 13:00:00
Name: time_window_end, dtype: datetime64[ns]

NameError: name 'df' is not defined

In [44]:
merged_df['accept_gps_lng']=merged_df['accept_gps_lng'].fillna(merged_df['accept_gps_lng'].mean())
merged_df['accept_gps_lat']=merged_df['accept_gps_lat'].fillna(merged_df['accept_gps_lat'].mean())
merged_df['pickup_gps_lat']=merged_df['pickup_gps_lat'].fillna(merged_df['pickup_gps_lat'].mean())
merged_df['pickup_gps_lng']=merged_df['pickup_gps_lng'].fillna(merged_df['pickup_gps_lng'].mean())
merged_df['accept_gps_time']=merged_df['accept_gps_time'].fillna(merged_df['accept_gps_time'].mean())
merged_df['accept_gps_time']

0         1900-07-31 15:21:47.527556864
1         1900-07-31 15:21:47.527556864
2         1900-10-09 13:56:00.000000000
3         1900-07-31 15:21:47.527556864
4         1900-07-31 15:21:47.527556864
                       ...
6136142   1900-07-31 15:21:47.527556864
6136143   1900-08-28 08:03:00.000000000
6136144   1900-07-29 10:54:00.000000000
6136145   1900-07-30 08:09:00.000000000
6136146   1900-08-08 10:28:00.000000000
Name: accept_gps_time, Length: 6136147, dtype: datetime64[ns]

In [46]:
merged_df.isna().any()

order_id             False
region_id            False
city                 False
courier_id           False
accept_time          False
time_window_start    False
time_window_end      False
lng                  False
lat                  False
aoi_id               False
aoi_type             False
pickup_time          False
pickup_gps_time       True
pickup_gps_lng       False
pickup_gps_lat       False
accept_gps_time      False
accept_gps_lng       False
accept_gps_lat       False
ds                   False
dtype: bool

In [50]:
merged_df['pickup_gps_time'] = pd.to_datetime(merged_df['pickup_gps_time'])
merged_df['pickup_gps_time']=merged_df['pickup_gps_time'].fillna(merged_df['pickup_gps_time'].mean())
merged_df.isna().sum()

order_id             0
region_id            0
city                 0
courier_id           0
accept_time          0
time_window_start    0
time_window_end      0
lng                  0
lat                  0
aoi_id               0
aoi_type             0
pickup_time          0
pickup_gps_time      0
pickup_gps_lng       0
pickup_gps_lat       0
accept_gps_time      0
accept_gps_lng       0
accept_gps_lat       0
ds                   0
dtype: int64

In [54]:
merged_df.sample(10)

,order_id,region_id,city,courier_id,accept_time,time_window_start,time_window_end,lng,lat,aoi_id,aoi_type,pickup_time,pickup_gps_time,pickup_gps_lng,pickup_gps_lat,accept_gps_time,accept_gps_lng,accept_gps_lat,ds
5698121,3327743,120,city5,5481,1900-06-04 09:32:00,1900-06-04 11:00:00,1900-06-04 13:00:00,119.95315,37.18286,3054,1,1900-06-04 11:02:00,1900-06-04 11:02:00.000000000,119.957240,37.186930,1900-06-04 09:32:00.000000000,119.956020,37.180760,604
3100273,366687,84,city3,11288,1900-08-25 11:46:00,1900-08-25 13:00:00,1900-08-25 15:00:00,120.14709,30.33478,8161,1,1900-08-25 12:43:00,1900-08-25 12:42:00.000000000,120.151350,30.339130,1900-08-25 11:46:00.000000000,120.150790,30.333160,825
2061873,2212205,44,city3,890,1900-08-12 08:48:00,1900-08-12 15:00:00,1900-08-12 17:00:00,120.11815,30.27670,2730,0,1900-08-12 16:55:00,1900-08-01 16:57:58.148008960,118.381327,32.577528,1900-07-31 15:21:47.527556864,118.541358,32.703762,812
1414355,5731791,132,city2,5838,1900-07-22 07:51:00,1900-07-22 09:00:00,1900-07-22 11:00:00,126.06222,42.95114,2408,14,1900-07-22 08:56:00,1900-07-22 08:55:00.000000000,126.061910,42.951240,1900-07-31 15:21:47.527556864,118.541358,32.703762,722
2255570,3737631,65,city3,15706,1900-05-30 08:07:00,1900-05-30 09:00:00,1900-05-30 11:00:00,120.04858,30.24383,4988,1,1900-05-30 10:27:00,1900-05-30 10:27:00.000000000,120.048450,30.243770,1900-05-30 08:03:00.000000000,120.051730,30.244700,530
5150336,3917427,103,city5,4010,1900-07-20 08:32:00,1900-07-20 09:00:00,1900-07-20 11:00:00,121.22602,37.52367,24199,1,1900-07-20 09:48:00,1900-07-20 09:48:00.000000000,121.226040,37.523450,1900-07-31 15:21:47.527556864,118.541358,32.703762,720
3635346,238173,5,city4,373,1900-07-30 09:11:00,1900-07-30 11:00:00,1900-07-30 13:00:00,121.66826,31.16531,10962,1,1900-07-30 09:55:00,1900-07-30 09:55:00.000000000,121.667340,31.165190,1900-07-30 09:11:00.000000000,121.658580,31.160340,730
3672658,1048188,5,city4,10033,1900-06-07 08:16:00,1900-06-07 09:00:00,1900-06-07 11:00:00,121.68205,31.19385,17490,1,1900-06-07 10:19:00,1900-06-07 10:19:00.000000000,121.682050,31.193870,1900-06-07 08:14:00.000000000,121.702540,31.184730,607
72419,5264096,22,city1,1989,1900-06-07 13:03:00,1900-06-07 13:03:00,1900-06-07 15:03:00,106.49156,29.53711,7356,1,1900-06-07 14:24:00,1900-06-07 14:23:00.000000000,106.491280,29.537340,1900-06-07 12:59:00.000000000,106.491380,29.528530,607
1237357,5408270,85,city2,10781,1900-06-14 07:52:00,1900-06-14 09:00:00,1900-06-14 11:00:00,126.55617,43.87223,12273,1,1900-06-14 08:36:00,1900-06-14 08:35:00.000000000,126.556010,43.872440,1900-06-14 07:52:00.000000000,126.548790,43.873400,614

In [56]:
#Time Window Duration:

merged_df['time_window_duration'] = (merged_df['time_window_end'] - merged_df['time_window_start']).dt.total_seconds()
merged_df['time_window_duration']

0          7200.0
1          7200.0
2          7200.0
3          7200.0
4          7200.0
            ...
6136142    7200.0
6136143    7200.0
6136144    7200.0
6136145    7200.0
6136146    7200.0
Name: time_window_duration, Length: 6136147, dtype: float64

In [58]:
#task Duration:

merged_df['pickup_time'] = pd.to_datetime(merged_df['pickup_time'], errors='coerce')
merged_df['accept_time'] = pd.to_datetime(merged_df['accept_time'], errors='coerce')

# Calculate task duration in seconds
merged_df['task_duration'] = (merged_df['pickup_time'] - merged_df['accept_time']).dt.total_seconds()
print(merged_df['task_duration'])

0           6060.0
1           6960.0
2           6960.0
3          13560.0
4           8640.0
            ...
6136142    16920.0
6136143     2400.0
6136144     2640.0
6136145     3660.0
6136146     2040.0
Name: task_duration, Length: 6136147, dtype: float64

In [60]:
merged_df['task_duration'] = (merged_df['pickup_time'] - merged_df['accept_time']).dt.total_seconds()

def calculate_distance(lng1, lat1, lng2, lat2):
    return np.sqrt((lng2 - lng1)**2 + (lat2 - lat1)**2)

merged_df['distance'] = calculate_distance(
    merged_df['accept_gps_lng'], merged_df['accept_gps_lat'],
    merged_df['pickup_gps_lng'], merged_df['pickup_gps_lat']
    )

In [64]:
merged_df['pickup_gps_lng'] = pd.to_numeric(merged_df['pickup_gps_lng'], errors='coerce')
merged_df['pickup_gps_lat'] = pd.to_numeric(merged_df['pickup_gps_lat'], errors='coerce')
merged_df['accept_gps_lng'] = pd.to_numeric(merged_df['accept_gps_lng'], errors='coerce')
merged_df['accept_gps_lat'] = pd.to_numeric(merged_df['accept_gps_lat'], errors='coerce')

# Calculate Euclidean distance between acceptance and pickup points
merged_df['distance'] = np.sqrt((merged_df['pickup_gps_lng'] - merged_df['accept_gps_lng'])**2 + 
  (merged_df['pickup_gps_lat'] - merged_df['accept_gps_lat'])**2)

In [ ]:
Q1 =merged_df['task_duration'].quantile(0.25)
Q3 =merged_df['task_duration'].quantile(0.75)
IQR = Q3 - Q1

# Define bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Filter out outliers
clean_pickup = merged_df[(merged_df['task_duration'] >= lower_bound) & (merged_df['task_duration'] <= upper_bound)]

print(clean_pickup)